 <table width="90%"  border="0" align="center" class="bodytext">
  <tr> 
    <td width="4%" >&nbsp;</td>
    <td width="17%">&nbsp;</td>
    <td width="68%">&nbsp;</td>
    <td width="11%">&nbsp;</td>
  </tr>
  <tr> 
    <td height="26" colspan="3" class="blogtitle" style="word-break:break-all">.关于我</td>
    <td height="26" align="center" >&nbsp;</td>
  </tr>
  <!-- BEGIN babout -->
  <tr> 
    <td height="20">&nbsp;</td>
    <td valign="top" style="word-break:break-all">+ {atitle}:</td>
    <td valign="top" style="word-break:break-all">{value}</td>
    <td>&nbsp;</td>
  </tr>
  <!-- END babout -->
</table>

