 <table width="90%"  border="0" align="center" class="row3">
  <tr> 
    <td width="3%" >&nbsp;</td>
    <td width="89%">&nbsp;</td>
    <td width="8%">&nbsp;</td>
  </tr>
  <tr> 
    <td height="26" colspan="2" class="blogtitle" style="word-break:break-all"><ul>
        <li><font size="3" face="Tahoma, 宋体"><strong>{cname}</strong></font></li>
      </ul></td>
    <td height="26" align="center" class="bodytext">&nbsp;</td>
  </tr>
  <!-- BEGIN blist -->
  <tr> 
    <td height="20">&nbsp;</td>
    <td style="word-break:break-all" class="bodytext">+ {blogtitle}<font color="#FFFFFF">...</font>(<a href="index.php?action=show&bid={bid}">查看全文 
      </a>| <a href="index.php?action=show&bid={bid}#feedback">发表评论</a>)</td>
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td height="20">&nbsp;</td>
    <td class="bloginfo">由{bloger}发表于{datetime} | 被看过{view}次 | {feedbackcount}篇评论</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
    <td class="bloginfo"><hr noshade></td>
    <td>&nbsp;</td>
  </tr>
  <!-- END blist -->
</table>

