<br><!-- BEGIN bshow -->
<table width="95%" border="0" align="center">
  <tr> 
    <td colspan="3" class="blogtime">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{date}</td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
    <td colspan="2" class="blogtitle">{blogtitle}</td>
  </tr>
  <tr> 
    <td width="8%">&nbsp;</td>
    <td width="88%" class="bodytext"><br>
      {blogtext}</td>
    <td width="7%" class="bodytext">&nbsp;</td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
    <td colspan="2" class="bloginfo">由{bloger}发表于{time} | <a href="index.php?action=list&cid={cid2}">{cname}</a> 
      | <a href="index.php?action=show&bid={bid}">查看</a>({view})次 | <a href="index.php?action=show&bid={bid}#feedback">评论</a>({feedbackcount})篇</td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
    <td class="bloginfo"><hr align="left" noshade></td>
    <td class="bloginfo">&nbsp;</td>
  </tr>
</table>
<!-- END bshow -->